body {
    text-align: center;
    margin: 0;
}

#welcome {
    background: linear-gradient(#eb5757 0%, #a157eb 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}


p {
    font-size: 25px;
    font-family: cursive;
    margin: 25px auto;
    line-height: 1.5;
}

h1 {
    margin-top: 30px;
    font-size: 40px;
}
